<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Student</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen'  href='/css/style.css'>
    <script src='main.js'></script>
</head>
<body>
 <h1>Registration Form</h1>
    <form method="post" action="/Register">
     
<div class="inpu-form">
  <label>Name</label> 
  <input type="text" name="Name"> 
</div>
<div class="inpu-form">
    <label>UserName</label> 
    <input type="text" name="Username"> 
  </div>
  <div class="inpu-form">
    <label>Email</label> 
    <input type="email" name="Email"> 
  </div>
  <div class="inpu-form">
    <label>Password</label> 
    <input type="password" name="Password"> 
  </div>
  <button type="submit">Register</button>
    </form>
</body>
</html>